<html>
    <head>
        <meta charset="utf-8">
        <meta name="gettext" content="translate">
        <title gettext="default:.#a491d2">Account password recovery</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 1.5;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 600px;
                margin: 0 auto;
                padding: 20px;
            }
        </style>
    <meta charset="UTF-8"></head>
    <body>
        <div class="container">
            <h1 gettext="default:.#bfd95f">Account password recovery</h1>
            <p gettext="default:.#188a84">
                Zolinga has received a request to recover your account password.
            </p>
            <p gettext="default:.#af19a3">
                To reset your password, click the link below:
            </p>
            <p>
                <a href="{{recoveryLink}}" gettext="default:.#bf1e37">Reset password</a>
            </p>
            <p>
                If you did not request a password reset, please ignore this email.
            </p>
        </div>
    </body>
</html>
